name: Evento de push a cada hora

on:
  push:
  schedule:
    - cron: '0 * * * *' 

jobs:
  exemplo-job:
    runs-on: ubuntu-latest

    steps:
      - name: Fazer checkout
        uses: actions/checkout@v4

      - name: Executar script 
        run:
          echo "Executando workflow"
